.blog-form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 42px;
    gap: 21px;

    @include input-element();
    input {
        margin-bottom: 0px;
        // background-color: #fff;
    }

}

.image-uploaders {
    @include base-grid();
    grid-template-columns: 200px;
}